<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Almacén Abandonado - Juego Sencillo</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/mapa.css">
    
    <!-- A-Frame -->
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <!-- A-Frame Extras -->
     <script src="https://cdn.jsdelivr.net/gh/c-frame/aframe-extras@7.6.0/dist/aframe-extras.min.js"></script>
    
    <!-- SweetAlert2 para alertas personalizadas -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
    <!-- Custom Wall Collider -->
    <script src="../js/wall-collider.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body>

    <a-scene id="game-scene" setup-lighting shadow="type: pcfsoft" win-check>


    <a-assets>
    <!-- Precarga el modelo GLB -->
    <a-asset-item id="enemyModel" src="../assets/modelos/kuntilanak_indonesian_ghost.glb"></a-asset-item>
    <a-asset-item id="doorModel" src="../assets/modelos/garage_door.glb"></a-asset-item>
    <a-asset-item id="easteregg" src="../assets/modelos/ghost_w_tophat.glb"></a-asset-item>
    </a-assets>

      <!-- Piso -->
      <a-plane position="0 0 0" rotation="-90 0 0" width="100" height="100" src="../metal/Concrete044C_4K-PNG_Color.png"></a-plane>

      <a-plane position="0 8 0" rotation="90 0 0" width="100" height="100" src="../metal/Concrete044C_4K-PNG_Color.png"></a-plane>

      <!-- Paredes -->
      <a-box class="collidable" position="0 3 -50" depth="0.1" height="10" width="100" repeat="3" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box>
      <a-box class="collidable" position="0 3 50" depth="0.1" height="10" width="100" repeat="3" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box>
      <a-box class="collidable" position="50 3 30.5" depth="39" height="10" width="0.1" repeat="3" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box>
      <a-box class="collidable" position="50 3 -23.5" depth="53" height="10" width="0.1" repeat="3" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box>
      <a-box class="collidable" position="-50 3 0" depth="100" height="10" width="0.1" repeat="3" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box>

      <!--habitaciones-->
      <a-box class="collidable" position="27.5 3 -1" depth="0.1" height="10" width="35" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 1 -->
      <a-box class="collidable" position="30 3 -35" depth="0.1" height="10" width="40" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 1 -->
      <a-box class="collidable" position="10 3 -23" depth="44" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 1 -->
      <a-box class="collidable" position="30 3 -44" depth="12" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 1 -->
      
      <a-box class="collidable" position="30 3 16" depth="0.1" height="10" width="40" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 2 -->
      <a-box class="collidable" position="30 3 30" depth="0.1" height="10" width="40" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 2 -->
      <a-box class="collidable" position="10 3 42.5" depth="15" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 2 -->
      <a-box class="collidable" position="10 3 20.5" depth="9" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 2 -->
      
      <a-box class="collidable" position="-20 3 16" depth="0.1" height="10" width="20" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-35 3 28" depth="0.1" height="10" width="30" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-42.5 3 16" depth="0.1" height="10" width="15" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-13 3 28" depth="0.1" height="10" width="6" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-26 3 22" depth="12" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-10 3 29.5" depth="27" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-30 3 44" depth="12" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-30 3 30.7" depth="5.5" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      
      <a-box class="collidable" position="-17.5 3 -26" depth="0.1" height="10" width="15" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-40 3 -20" depth="0.1" height="10" width="10" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-17.5 3 -1" depth="0.1" height="10" width="15" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-25 3 -38" depth="24" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-35 3 -35" depth="30" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-10 3 -23" depth="44" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-25 3 -11" depth="20" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
    
      <!-- Objetos interactivos -->
      <a-box class="clickable" position="-22 0.5 -27" depth="1.5" height="1.5" width="1.5" color="#996633"></a-box>
      <a-box class="clickable" position="-40 0.5 47" depth="1.5" height="1.5" width="1.5" color="#996633"></a-box>
      <a-box class="clickable" position="35 0.5 -45" depth="1.5" height="1.5" width="1.5" color="#996633"></a-box>
      <a-box class="clickable" position="-20 0.5 20" depth="1" height="1" width="1" color="#996633"></a-box>
      <a-box class="clickable" position="40 0.5 20" depth="1" height="1" width="1" color="#996633"></a-box>
      <a-box class="clickable" position="40 0.5 40" depth="1" height="1" width="1" color="#996633"></a-box>

      <a-box id="win-zone"
       position="49.5 1 7"
       depth="3"
       height="3"
       width="4"
       visible="false">
      </a-box>

     
      <!-- Enemigo -->
  <a-entity id="enemy"
            gltf-model="#enemyModel"
            position="10 -0 -15"
            scale="150 150 150"
            homing-enemy="speed: 1.5;"
            animation-mixer
            fix-materials>
  </a-entity>

  <a-entity id="puerta"
          gltf-model="#doorModel"
          position="49.5 2 7"
          scale="2 3 2"
          rotation="0 -90 0"
          puerta-control>
</a-entity>

  <a-entity id="easterEgg"
          gltf-model="#easteregg"
          position="-38 0.5 -22.5"
          scale="1 1 1"
          rotation="0 230 0"> <!-- Ejemplo: 20° en X (inclinado), 180° en Y (volteado), 0° en Z -->
  </a-entity>

      <!-- Cámara con crosshair -->
      <a-entity id="player"
                camera
                position="0 1.6 5"
                wasd-controls
                look-controls="pointerLockEnabled: true"
                wall-collider
                player-health="healthTextEl: #healthText">

        <!-- UI de la vida, fija a la cámara -->
        <a-entity id="healthText" 
                  text="value: Vida: 100; color: white; align: center; width: 2"
                  position="0 -0.5 -1.5"></a-entity>

        <!-- Crosshair (mira) -->
        <a-entity cursor="fuse: false; rayOrigin: mouse"
                  raycaster="objects: .clickable"
                  raycaster="objects: .clickable; far: 15;"
                  position="0 0 -1" geometry="primitive: ring; radiusInner: 0.01; radiusOuter: 0.015" material="color: white; shader: flat">
        </a-entity>
      </a-entity>
    </a-scene>

    <!-- Efecto visual de "muerte" -->
<div id="gameover-overlay" class="hidden">
  <div id="gameover-box">
    <h2>💀 ¡JUEGO TERMINADO! 💀</h2>
    <p>Has sido derrotado.<br>¿Quieres reiniciar la partida?</p>
    <div class="buttons">
      <button id="restart-btn">Aceptar</button>
      <button id="cancel-btn">Cancelar</button>
    </div>
  </div>
</div>

<!-- Alerta de tiempo agotado -->
<div id="timeout-overlay">
  <div class="timeout-box">
    <h2>⏰ ¡Tiempo agotado!</h2>
    <p>Se terminó el tiempo. ¿Quieres intentarlo de nuevo?</p>
    <button id="retry-btn">Reintentar</button>
  </div>
</div>



    <div id="back-button-container">
      <a href="../views/dashboard.php" class="hud-button">Volver</a>
    </div>

    <div id="info">
      <div id="contador">Cajas: 0 / 6</div>
      <div id="tiempo">Tiempo restante: 300s</div>
    </div>
    
    <script src="../js/mapa.js"></script>
    <script src="../js/enemy-ai.js"></script>
    <script src="../js/player-health.js"></script>
    <script src="../js/billboard.js"></script>
    <script src="../js/fix-materials.js"></script>
    <script src="../js/lighting.js"></script>
    <script src="../js/orthographic-camera.js"></script>
    <script src="../js/puerta.js"></script>

  </body>
</html>