<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Almacén Abandonado - Juego Sencillo</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/mapa.css">
    
    <!-- A-Frame -->
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    
    <!-- Custom Wall Collider -->
    <script src="../js/wall-collider.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body>

    <a-scene>
      <!-- Piso -->
      <a-plane position="0 0 0" rotation="-90 0 0" width="100" height="100" src="../metal/Concrete044C_4K-PNG_Color.png"></a-plane>

      <!-- Paredes -->
      <a-box class="collidable" position="0 2 -50" depth="0.1" height="10" width="100" repeat="3" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box>
      <a-box class="collidable" position="0 2 50" depth="0.1" height="10" width="100" repeat="3" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box>
      <a-box class="collidable" position="50 2 0" depth="100" height="10" width="0.1" repeat="3" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box>
      <a-box class="collidable" position="-50 2 0" depth="100" height="10" width="0.1" repeat="3" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box>

      <!--habitaciones-->
      <a-box class="collidable" position="27.5 2 -1" depth="0.1" height="10" width="35" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 1 -->
      <a-box class="collidable" position="30 2 -35" depth="0.1" height="10" width="40" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 1 -->
      <a-box class="collidable" position="10 2 -23" depth="44" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 1 -->
      <a-box class="collidable" position="30 2 -44" depth="12" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 1 -->
      
      <a-box class="collidable" position="30 2 16" depth="0.1" height="10" width="40" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 2 -->
      <a-box class="collidable" position="30 2 30" depth="0.1" height="10" width="40" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 2 -->
      <a-box class="collidable" position="10 2 42.5" depth="15" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 2 -->
      <a-box class="collidable" position="10 2 20.5" depth="9" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 2 -->
      
      <a-box class="collidable" position="-20 2 16" depth="0.1" height="10" width="20" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-35 2 28" depth="0.1" height="10" width="30" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-42.5 2 16" depth="0.1" height="10" width="15" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-13 2 28" depth="0.1" height="10" width="6" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-26 2 22" depth="12" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-10 2 29.5" depth="27" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-30 2 44" depth="12" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      <a-box class="collidable" position="-30 2 30.7" depth="5.5" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 3 -->
      
      <a-box class="collidable" position="-17.5 2 -26" depth="0.1" height="10" width="15" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-40 2 -20" depth="0.1" height="10" width="10" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-17.5 2 -1" depth="0.1" height="10" width="15" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-25 2 -38" depth="24" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-35 2 -35" depth="30" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-10 2 -23" depth="44" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
      <a-box class="collidable" position="-25 2 -11" depth="20" height="10" width="0.1" src="../metal/pared-vieja-con-el-fondo-del-yeso-pelado.jpg"></a-box><!-- 4 -->
    
      <!-- Objetos interactivos -->
      <a-box class="clickable" position="-22 0.5 -27" depth="1.5" height="1.5" width="1.5" color="#996633"></a-box>
      <a-box class="clickable" position="-40 0.5 47" depth="1.5" height="1.5" width="1.5" color="#996633"></a-box>
      <a-box class="clickable" position="35 0.5 -45" depth="1.5" height="1.5" width="1.5" color="#996633"></a-box>
      <a-box class="clickable" position="-20 0.5 20" depth="1" height="1" width="1" color="#996633"></a-box>
      <a-box class="clickable" position="40 0.5 20" depth="1" height="1" width="1" color="#996633"></a-box>
      <a-box class="clickable" position="40 0.5 40" depth="1" height="1" width="1" color="#996633"></a-box>
     
      <!-- Enemigo -->
      <a-plane
          id="enemy"
          position="10 1.5 -15"
          homing-enemy="speed: 1.5;"
          width="2" height="2"
          color="red"
          billboard>
      </a-plane>

      <!-- Cámara con crosshair -->
      <a-entity id="player"
                camera 
                position="0 1.6 5"
                wasd-controls
                look-controls="pointerLockEnabled: true"
                wall-collider
                player-health="healthTextEl: #healthText">

        <!-- UI de la vida, fija a la cámara -->
        <a-entity id="healthText" 
                  text="value: Vida: 100; color: white; align: center; width: 2"
                  position="0 -0.5 -1.5"></a-entity>

        <!-- Crosshair (mira) -->
        <a-entity cursor="fuse: false; rayOrigin: mouse"
                  raycaster="objects: .clickable"
                  position="0 0 -1" geometry="primitive: ring; radiusInner: 0.01; radiusOuter: 0.015" material="color: white; shader: flat">
        </a-entity>
      </a-entity>
    </a-scene>

    
    <div id="back-button-container">
      <a href="../views/dashboard.php" class="hud-button">Volver</a>
    </div>

    <div id="info">
      <div id="contador">Cajas: 0 / 6</div>
      <div id="tiempo">Tiempo restante: 300s</div>
    </div>
    
    <script src="../js/mapa.js"></script>
    <script src="../js/enemy-ai.js"></script>
    <script src="../js/player-health.js"></script>
    <script src="../js/billboard.js"></script>
  </body>
</html>